@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
@media only screen and (min-width: 375px) {
    main {
        font-family: 'Josefin Sans', Sans-Serif;
        max-width: 1200px;
        margin: 0px auto;
    }
    main header {
        background: rgba(0, 0, 0, .9);
        color: rgb(1, 134, 209);
        padding: 50px 0px;
        text-align: center;
    }
    main header h1 {
        margin: 0px 0px 50px 0px;
    }
    main header h2 {
        text-decoration: underline;
    }
    /*  */
    main section.secao1 {
        background-image: url('img-1280.jpg');
        height: 716px;
        padding: 10px;
    }
    main section.secao1 aside {
        background: rgba(255, 255, 255, .8);
        border-radius: 10px;
        padding: 20px;
        position: relative; top: 10%;
        text-align: justify;
    }
    main section.secao1 aside p {
        margin: 20px 0px;
    }
    main section.secao1 aside ol {
        list-style-position: inside;
    }
    main section.secao1 aside form {
        margin: 20px 0px 0px 0px;
    }
    main section.secao1 aside form label input {
        border: none;
        margin: 20px 0px 0px 0px;
        padding: 15px;
        width: 100%;
    }
    main section.secao1 aside form input#botao-form {
        color: white;
        background: tomato;
        border: none;
        border-radius: 5px;
        font-weight: 900;
        font-size: 18px;
        margin: 20px 0px 0px 0px;
        padding: 15px;
        width: 100%;
    }
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
    }
    /*  */
    main section.secao2 {
        background:rgb(1, 134, 209);
        color: white;
        padding: 50px 0px;
        text-align: center;
    }
    main section.secao2 img {
        margin: 0px 5px 0px 0px;
        width: 150px;
    }
    main section.secao2 div.descricao {
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        display: inline-block;
        text-align: left;
        width: 50%;
    }
    main section.secao2 div.descricao h2 {
        margin: 0px 0px 10px 0px;
    }
    /*  */
    main footer {
        background: rgba(0, 0, 0, .9);
        padding: 20px 0px;
        text-align: center;
    }
    main footer a {
        color: white;
        text-decoration: none;
    }
    main footer a:visited {
        color: white;
    }
}
@media only screen and (min-width: 1024px) {
    main section.secao1 {
        position: relative;
    }
    main section.secao1 aside {
        position: absolute; right: 10px;
        width: 50%;
    }
    main section.secao2 div.descricao {
        padding: 10px;
        width: 30%;
    }
}