@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
* {
    border: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
main {
    font-family: 'Titillium Web', Sans-Serif;
    max-width: 1200px;
    margin: 0px auto;
}
main header {
    background: rgba(0, 0, 0, .7);
    color: white;
    padding: 20px 30%;
}
main header h2 {
    color: rgba(1, 134, 209);
    text-decoration: underline;
}
/*  */
section.secao1 {
    background-image: url('../_img/img-1280.jpg');
    height: 716px;
    position: relative;
}
section.secao1 aside {
    background: rgba(255, 255, 255, .8);
    border-radius: 20px;
    height: 650px;
    padding: 40px;
    position: absolute; top: 30px;right: 30px;
    width: 480px;
}
section.secao1 aside p {
    margin: 30px 0px;
    text-align: justify;
}
section.secao1 aside ol {
    list-style-position: inside;
}
section.secao1 aside form label input {
    margin: 10px 0px;
    padding: 20px;
    width: 100%;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
section.secao1 aside form input#botao-form {
    background: tomato;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 900;
    margin: 10px 0px;
    padding: 15px;
    width: 100%;
}
/*  */
section.secao2 {
    background:rgba(1, 134, 209);
    padding: 50px 0px;
    text-align: center;
}
section.secao2 img {
    width: 150px;
}
section.secao2 div.descricao {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    color: white;
    display: inline-block;
    margin: 0px 0px 0px 30px;
    padding: 0px 30px 30px 0px;
    text-align: justify;
    width: 30%;
}
section.secao2 div.descricao h2 {
    margin: 0px 0px 20px 0px;
}
/*  */
footer {
    background:rgba(0, 0, 0, .7);
}
footer a {
    color: white;
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    text-align: center;
}
footer a:visited {
    color: white;
}