@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
* {
    border: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
main {
    font-family: 'Titillium Web', Sans-Serif;
    max-width: 1200px;
    margin: 0px auto;
}
main header {
    background: rgba(0, 0, 0, .7);
    color: white;
    padding: 20px 30%;
}
main header h2 {
    color: rgb(0, 191, 255);
    text-decoration: underline;
}
/*  */
section.secao1 {
    background-image: url('../_img/img-1280.jpg');
    height: 716px;
    position: relative;
}
section.secao1 aside {
    background: rgba(255, 255, 255, .8);
    border-radius: 20px;
    height: 650px;
    padding: 40px;
    position: absolute; top: 30px;right: 30px;
    width: 480px;
}
section.secao1 aside p {
    margin: 30px 0px;
    text-align: justify;
}
section.secao1 aside ol {
    list-style-position: inside;
}
section.secao1 aside form label input {
    margin: 10px 0px;
    padding: 20px;
    width: 100%;
}
section.secao1 aside form input#botao-form {
    background: tomato;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 900;
    margin: 10px 0px;
    padding: 15px;
    width: 100%;
}
/*  */
section.secao2 {
    background:rgba(1, 134, 209);
    height: 300px;
    width: 100%;
}
section.secao2 img {
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    width: 150px;
}
/*  */
footer {
    background:rgba(0, 0, 0, .7);
    height: 50px;
    width: 100%;
}